.eventImage {
  height: 100%;
  width: auto;
  max-height: 250px;
  min-height: 250px;
  border-radius: 10px;
  object-fit: cover;
  border: 1px solid rgba(224, 224, 224, 1);
}
.sliderCtn {
  height: 270px;
}

.btl,
.btr {
  position: absolute !important;
  top: 40%;
  border: 1px solid rgba(224, 224, 224, 1);

  z-index: 3;
}
.btr {
  right: 1%;
}

.btl {
  left: 1%;
}
.btl svg {
  transform: rotate(180deg);
}

.sliderProfile {
  width: 100%;
  .userProfile {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
  }
  .containSlide {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .msg {
    width: 50%;
    text-align: center;
    position: relative;
    &::after,
    &::before {
      position: absolute;
      font-size: 9em;
      line-height: 20px;
      color: rgba(223, 224, 236, 1);
      font-family: Public, "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    }
    &::after {
      content: "”";
      bottom: -130%;
      right: 0;
    }
    &::before {
      content: "“";
      top: -40%;
      left: 0;
    }
  }
}

/*
.sliderCtn,
.sliderProfile {
  user-select: none;
  position: relative;
}










*/
