.footer {
  width: 100%;
  margin-top: 90px;
  margin-bottom: 30px;
  border-top: 1px solid rgba(224, 224, 224, 1);
  border-bottom: 1px solid rgba(224, 224, 224, 1);
  background-color: var(--content-color);
}

.footerContainer {
  padding: 20px 0 40px 0;
}

.socialLink {
  fill: #bdc4cd;
}

.socialLink:hover {
  fill: var(--primary-color);
}

.Link:hover {
  color: var(--primary-color) !important;
}

.footerBottom {
  color: rgba(96, 96, 96, 1) !important;
}
